{% extends "layout.html" %}
{% block body %}
  <h2>About Galen</h2>
  <div>
  	<div class='about-photo'>
  		<img src="/static/galen.jpg">
  		<p>Photo Credit: Daniel Weld</p>
  	</div>

  	<p>Galen Weld is a undergraduate student at Cornell University's department of Computer Science.
  	An avid photographer, Galen has been taking photos since he was 8 years old. Originally from Seattle,
  	Galen enjoys shooting landscapes and nature images, as well as wilderness photography.
  	When he's not holding a camera, Galen can be found ice and rock climbing, mountaineering, skiing, or riding his bike.</p>
  	<p>If you have any questions, please don't hesitate to contact Galen at
  	galen.weld@gmail.com.</p>
  </div>
{% endblock %}